extends ../base

block content
    section(class="p-1")
        form(action="/user/upload" method="post" enctype="multipart/form-data")
            input(type="file" name="photo" required)
            label(for="width" class="d-block") Width:
            input(id="width" name="width" required)
            label(for="height" class="d-block") Height:
            input(id="height" name="height" required)
            input(type="submit" value="Upload" class="d-block mt-10")
