doctype html

html 
    head
        link(href="/css/reset.css" rel="stylesheet")
        link(href="/css/base.css" rel="stylesheet")
        block title
            title PhotoResizer
    body 
        block content
        block footer
